rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    match /users/{userId} {
      allow read, create, update: if isOwner(userId);
    }

    match /financialData/{userId} {
      allow read, create, update: if isOwner(userId);
    }
  }
}
